.test-band {
    &--layout {
        @extend %default--band;
        background-image: url(//www.redhat.com/profiles/rh/themes/redhatdotcom/img/header/header-press-release-list-2000x1357.jpg);
    }
    &-container {
        @extend %default--container;
        > * {
            margin-bottom: $band-padding / 3;
        }
    }
    &-content > [data-test-layout] {
        display: grid;
        grid-template-columns: repeat(1, minmax(100px, 1fr));
        grid-gap: 15px;
        @include breakpoint( tablet ) {
            grid-template-columns: repeat(2, minmax(100px, 1fr));
        }
        @include breakpoint( desktop) {
            grid-template-columns: repeat(3, minmax(100px, 1fr));
        }
    }
    &-footer {
        float: right;
    }
    &-copyright {
        float: left;
    }
}
