.test-button {
	&--component {
		/* Cribbing card button styles directly from redhat.com */
		a {
			display: inline-block;
			background-color: $button-bg;
			color: $button-color;
			font-family: $base-font-family;
			font-weight: 700;
			text-decoration: none;
			border: 1px solid $button-color;
			border-radius: 3px;
			padding: 1em 2em;
			transition: 0.3s cubic-bezier(0.5, 0, 0.5, 1);
			cursor: pointer;
			&:hover {
				background-color: $button-bg-hover;
				color: $button-color-hover;
			}
		}
	}
}
